.boton{
   background-color: #00000000;
    color: #6cd247;
    border: 2px solid #6cd24755;
    border-radius: 0.5rem;
    margin-left: 0.5rem;
}
.boton:hover{
    background-color: #0000002e;
    color: #fff;
}
.conten{
    display: flex;
    margin: 4% auto;
    width: fit-content;
    height: fit-content;
    padding: 0.1rem 0.3rem 0.3rem 0.3rem;
}
.input{
    border: 0.2px ;
    border-radius: 0.5rem;
    color: #6cd247;
}
.LinkR{
    text-decoration: none;
    color: #6cd247;
}
.LinkR:hover{
    
    text-decoration: none;
}